Repository jnylen/metagraph, changes with the labels that .github/labeler.yml gives for each.
All labels: authorization, database, editor, frontend, graph, metagraph

.github/labeler.yml:

authorization:
  - apps/authorization/**/*

database:
  - apps/database/**/*

editor:
  - apps/editor/**/*

frontend:
  - apps/frontend/**/*

graph:
  - apps/graph/**/*

metagraph:
  - ./*
  - config/**/*
  - .github/**/*
  - rel/**/*

Bump ref
  mix.lock
Labels: metagraph

Bump dependencies
  apps/frontend/assets/yarn.lock
Labels: frontend

Bump phoenix version to use 1.5.0-dev and fix phx live view
  apps/frontend/lib/frontend/application.ex
  apps/frontend/lib/frontend_web.ex
  apps/frontend/lib/frontend_web/live/browse/components/data.ex
  apps/frontend/lib/frontend_web/live/browse/components/data.html.leex
  apps/frontend/lib/frontend_web/live/browse/components/data_item.ex
  apps/frontend/lib/frontend_web/live/browse/components/data_item.html.leex
  apps/frontend/lib/frontend_web/live/browse/components/menu.ex
  apps/frontend/lib/frontend_web/live/browse/components/menu.html.leex
  apps/frontend/lib/frontend_web/live/browse/components/queries.ex
  apps/frontend/lib/frontend_web/live/browse/components/queries.html.leex
  apps/frontend/lib/frontend_web/live/browse/components/schema.ex
  apps/frontend/lib/frontend_web/live/browse/components/schema.html.leex
  apps/frontend/lib/frontend_web/live/browse/show.ex
  apps/frontend/lib/frontend_web/live/browse/show.html.leex
  apps/frontend/lib/frontend_web/live/browse_live.ex
  apps/frontend/lib/frontend_web/live/browse_live.html.leex
  apps/frontend/lib/frontend_web/live/item/_browse.ex
  apps/frontend/lib/frontend_web/live/item/_change.ex
  apps/frontend/lib/frontend_web/live/item/_domain.ex
  apps/frontend/lib/frontend_web/live/item/_header.ex
  apps/frontend/lib/frontend_web/live/item/_language.ex
  apps/frontend/lib/frontend_web/live/item/_menu.ex
  apps/frontend/lib/frontend_web/live/item/_predicate.ex
  apps/frontend/lib/frontend_web/live/item/_predicate_header.ex
  apps/frontend/lib/frontend_web/live/item/_relation_tag.ex
  apps/frontend/lib/frontend_web/live/item_live.ex
  apps/frontend/lib/frontend_web/router.ex
  apps/frontend/lib/frontend_web/templates/layout/app.html.eex
  apps/frontend/lib/frontend_web/templates/layout/auth.html.eex
  apps/frontend/lib/frontend_web/templates/layout/live.html.leex
  apps/frontend/lib/frontend_web/templates/layout/root.html.eex
  apps/frontend/lib/frontend_web/templates/new_item/index.html.leex
  apps/frontend/mix.exs
  config/config.exs
  mix.lock
Labels: frontend, metagraph

Cleanup
  apps/frontend/lib/frontend_web/live/item/_browse.ex
  apps/frontend/lib/frontend_web/live/item_live.ex
  apps/frontend/lib/frontend_web/templates/new_item/browse/_item.html.leex
  apps/frontend/lib/frontend_web/templates/new_item/browse/_menu.html.leex
  apps/frontend/lib/frontend_web/templates/new_item/browse/index.html.leex
  apps/frontend/lib/frontend_web/templates/new_item/browse/queries.html.leex
  apps/frontend/lib/frontend_web/templates/new_item/browse/schema.html.leex
  apps/frontend/lib/frontend_web/templates/new_item/index.html.leex
Labels: frontend

Cleanup tests
  apps/authorization/test/authorization_test.exs
  apps/editor/test/editor_test.exs
  apps/frontend/test/frontend_web/controllers/page_controller_test.exs
  apps/graph/test/graph_test.exs
Labels: authorization, editor, frontend, graph

Start of API
  apps/api/.formatter.exs
  apps/api/.gitignore
  apps/api/README.md
  apps/api/lib/api.ex
  apps/api/lib/api/application.ex
  apps/api/lib/api/channels/user_socket.ex
  apps/api/lib/api/endpoint.ex
  apps/api/lib/api/gettext.ex
  apps/api/lib/api/router.ex
  apps/api/lib/api/schema.ex
  apps/api/lib/api/schema/parser_state.ex
  apps/api/lib/api/schema/query.ex
  apps/api/lib/api/schema/query_builder.ex
  apps/api/lib/api/schema/type/film.ex
  apps/api/lib/api/schema/type/media_genre.ex
  apps/api/lib/api/schema/type/performance.ex
  apps/api/lib/api/schema/type/person.ex
  apps/api/lib/api/views/error_helpers.ex
  apps/api/lib/api/views/error_view.ex
  apps/api/mix.exs
  apps/api/priv/gettext/en/LC_MESSAGES/errors.po
  apps/api/priv/gettext/errors.pot
  apps/api/test/api/views/error_view_test.exs
  apps/api/test/support/channel_case.ex
  apps/api/test/support/conn_case.ex
  apps/api/test/test_helper.exs
  config/config.exs
  config/dev.exs
  config/prod.exs
  config/test.exs
  mix.lock
Labels: metagraph
